* {
	box-sizing: border-box;
	font-family: 'Azeret Mono', monospace;
}

body {
	margin: 0;
	background-color: #000080;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #000080;
}

.logo {
	margin: 10px;
}

.logo img {
max-width: 64px;
}

.hidden {
	margin: 10px;
	visibility: hidden;
}

header h3 {
	margin: 20px 0 0 0;
	color: #fff;
}

nav {
	background-color: #6A5ACD;
}

.nav-links {
	display: flex;
	justify-content: center;
}

.nav-links a {
	text-transform: capitalize;
	text-decoration: none;
	margin: 10px 30px 10px 30px;
	color: #fff;
	font-weight: 700;
}

main {
	padding: 50px 0 80px 0;
	display: flex;
}

main section {
	color: #fff;
	padding: 50px 0 0 100px;
	font-size: 18px;
}

main img {
	max-width: 350px;
	height: 100%;
	margin: 0 100px 0 100px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px 10px;
	color: #fff;
	display: flex;
	justify-content: center;
	background-color: #6A5ACD;
}

@media screen and (max-width: 950px) {
	main img {
		width: 42%;
		margin: 8% 3% 0 3%;
	}
	main {
		padding: 10% 0 7.5% 0;
	}
	main section{
		padding: 5% 0 0 5%;
	}
	p {
		font-size: 3vw;
	}
}

@media screen and (max-width: 450px) {
	.nav-links a {
		margin: 10px;
		width: 100%;
	}
}
