* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 0;
	border-bottom: solid black 1px;
}

.logo {
	margin: 0px 0 0 10px;
}

.hidden {
	visibility: hidden;
}

h3 {
	margin: 30px 0 0 10px;
}

.nav-links {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.nav-links a {
	text-transform: capitalize;
	text-decoration: none;
	margin: 0 30px 10px 30px;
	color: #111111;
	font-weight: 700;
}