* {
	box-sizing: border-box;
	font-family: 'Azeret Mono', monospace;
}

body {
	margin: 0;
	background-color: #000080;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 0;
	background-color: #000080;
}

.logo {
	margin: 10px;
}

.logo img {
max-width: 64px;
}

.hidden {
	margin: 10px;
	visibility: hidden;
}

h3 {
	margin: 20px 0 0 0;
	color: #ffffff;
}

nav {
	background-color: #6A5ACD;
}

.nav-links {
	display: flex;
	justify-content: center;
}

.nav-links a {
	text-transform: capitalize;
	text-decoration: none;
	margin: 10px 30px 10px 30px;
	color: #ffffff;
	font-weight: 700;
}

img {
	max-width: 400px;
}

footer {
	color: #ffffff;
	display: flex;
	justify-content: center;
	background-color: #6A5ACD;
	padding: 15px 10px;
	width: 100%;
}

@media screen and (max-width: 450px) {
	.nav-links a {
		margin: 10px;
		width: 100%;
	}