* {
	box-sizing: border-box;
	font-family: 'Azeret Mono', monospace;
}

body {
	margin: 0;
	background-color: #000080;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #000080;
}

.logo {
	margin: 10px;
}

.logo img {
max-width: 64px;
}

.hidden {
	margin: 10px;
	visibility: hidden;
}

header h3 {
	margin: 20px 0 0 0;
	color: #fff;
}

nav {
	background-color: #6A5ACD;
}

.nav-links {
	display: flex;
	justify-content: center;
}

.nav-links a {
	text-transform: capitalize;
	text-decoration: none;
	margin: 10px 30px 10px 30px;
	color: #fff;
	font-weight: 700;
}

main {
	display: flex;
	margin: 100px 0 0 0;
	padding-bottom: 100px;
}

img {
	max-width: 400px;
}

p {
	color: #fff;
	padding: 100px 20px 0 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px 10px;
	color: #fff;
	display: flex;
	justify-content: center;
	background-color: #6A5ACD;
}

@media screen and (max-width: 1050px) {
	main {
		margin: 50px 0 0 0;
		padding: 0 0 80px 0;
		flex-direction: column-reverse;
		align-items: center;
	}
	p {
		padding: 20px 10%;
	}
	main img {
		width: 50%;
	}
}

@media screen and (max-width: 450px) {
	.nav-links a {
		margin: 10px;
		width: 100%;
	}
}
